<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <mat-card class="login-card">
            <mat-card-header>
                <div class="text-center">
                    <mat-card-subtitle>
                        <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
                    </mat-card-subtitle>
                </div>
            </mat-card-header>

            <mat-card-content>
                <form [formGroup]="loginForm" (ngSubmit)="$event.preventDefault(); onSubmit()">
                    <div class="mb-3">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Login ID</mat-label>
                            <input matInput placeholder="Enter your Login ID" formControlName="username">
                        </mat-form-field>
                    </div>

                    <div class="mb-3">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" placeholder="Enter your Password"
                                formControlName="password">
                        </mat-form-field>
                    </div>
                    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid"
                        class="w-100">Login</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>