<mat-toolbar color="primary" class="slick-toolbar">
  <span class="heading-font toolbar-title">Employee Directory</span>
  <div class="spacer"></div>
  <a mat-button class="toolbar-link" routerLink="/directory" *ngIf="authService.isAuthenticated()">Directory</a>
  <button mat-icon-button [matMenuTriggerFor]="profileMenu" class="profile-icon" *ngIf="authService.isAuthenticated()">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon> Logout
    </button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>